<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <!--<add name="Banner" value="1" resourcefile="" />-->
    <add name="Banner Home" value="1" resourcefile="" />
    <add name="Banner giới thiệu" value="2" resourcefile="" />
    <add name="Banner lĩnh vực" value="4" resourcefile="" />
    <add name="Banner dịch vụ" value="8" resourcefile="" />
    <add name="Banner tin tức" value="16" resourcefile="" />
    <add name="Banner liên hệ" value="32" resourcefile="" />
    <add name="Banner tuyển dụng" value="64" resourcefile="" />
    <add name="Banner đối tác" value="128" resourcefile="" />
    <add name="Banner E-Brochure" value="256" resourcefile="" />
    <add name="Banner FAQ" value="512" resourcefile="" />
    <add name="Banner trang đối tác" value="1024" resourcefile="" />
    <add name="Banner video trang chủ" value="2048" resourcefile="" />
    <add name="Banner Đối tác - Khách hàng trang chủ" value="4096" resourcefile="" />
    <add name="Banner quảng cáo trang chủ" value="8192" resourcefile="" />
  </position>

</settings>