<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <!--<add name="Banner" value="1" resourcefile="" />-->
    <add name="Banner Home" value="1" resourcefile="" />
    <add name="Banner giới thiệu" value="2" resourcefile="" />
    <add name="Banner lĩnh vực" value="4" resourcefile="" />
    <add name="Banner dịch vụ" value="8" resourcefile="" />
    <add name="Banner tin tức" value="16" resourcefile="" />
    <add name="Banner liên hệ" value="32" resourcefile="" />
  </position>

</settings>