section.banner-wrap
	.banner-slide
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
	.banner-nav
		.item
			.cate.cate1
				.alphabet A
				.cate-des Ngành hàng hoa tươi
		.item
			.cate.cate2
				.alphabet B
				.cate-des Ngành hàng rau-củ-quả, nấm, gia vị
		.item
			.cate.cate3
				.alphabet D
				.cate-des Ngành hàng Cá đông và Hải sản cao cấp
		.item
			.cate.cate4
				.alphabet F
				.cate-des Ngành hàng thủy sản
		.item
			.cate.cate5
				.alphabet H
				.cate-des Thịt súc sản Gia cầm, Nông sản và Cá hấp
		.item
			.cate.cate6
				.alphabet K
				.cate-des Thủy sản khô và các loại mắm
		.item
			.cate.cate7
				.alphabet T
				.cate-des Ngành hàng Trái cây