footer
	.container
		.social
			a(href="#!") <i class="fa fa-facebook-official" aria-hidden="true"></i>
			a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
			a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
			a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
			a(href="#!") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
		nav.footer-nav
			a(href="#!") Đối tác khách hàng
			a(href="#!") E-Brochure
			a(href="#!") FAQS
			a(href="#!") Tuyển dụng
			a(href="#!") Liên hệ
		.footer-contact Đại lộ Nguyễn Văn Linh, Khu phố 6, phường 7, quận 8, Tp.Hồ Chí Minh. Tell: +84.028.3759.0001 - 3759.0002 Fax: +84.028.3759.0003 
			br
			|Email: info@binhdienmarket.vn. Website: www.binhdienmarket.vn
		.copyright Copyright @2018 Binh Dien Market. All rights reserved.