header
	.container-fluid
		.header-wrap
			.btn-showmenu <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.col-right
				.social
					a(href="#!") <i class="fa fa-facebook-official" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
				.language
					.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') English
						.dropdown-menu(aria-labelledby='dropdownMenuLink')
							a.dropdown-item(href='#') Tiếng Việt
							a.dropdown-item(href='#') English
				.menu
					.menu-logo
						.sitelogo
							a(href="#!")
								img(src="img/logo.png", alt="")
					nav.menu-wrap
						ul.menu-link
							li.active
								a(href="#!") trang chủ
							li
								a(href="#!") giới thiệu
							li
								a(href="#!") lĩnh vực hoạt động
							li
								a(href="#!") dịch vụ
							li
								a(href="#!") tin tức
							li
								a(href="#!") liên hệ
					.search
						.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
						.search-wrap
							.searchbox
								input(type="text" placeholder="Tìm kiếm...")
								button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>