section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Giới thiệu
nav.top-nav
	.btn-navtoggle.d-md-none Danh mục
	ul
		li
			a(href="#section1") Giới thiệu chung
		li.active
			a(href="#section2") Tổng quan hoạt động
		li
			a(href="#section3") Sơ đồ chỉ dẫn
		li
			a(href="#section4") Sơ đồ tổ chức
		li
			a(href="#section5") Định hướng phát triển
section.about-section1
	.container
		h1.about-title Sơ lược quá trình thành lập
		.row
			.col-12.col-lg-6
				.content
					p Việc quy hoạch đầu tư xây dựng các chợ đầu mối ở vị trí ngoại thành với các tiêu chuẩn hiện đại, đồng bộ là tất yếu của điều kiện kinh tế - xã hội cả nước nói chung và Tp Hồ Chí Minh nói riêng, nhằm quy hoạch lại mạng lưới kinh doanh, phân phối hàng hóa; xây dựng nếp sống văn minh thương nghiệp; đáp ứng yêu cầu mở rộng hoạt động kinh doanh của thương nhân; góp phần giải quyết tình trạng kẹt xe, ô nhiễm môi trường trong nội thành và quản lý VSATTP. Với các yêu cầu đó, UBND Thành phố đã giao cho Tổng Công ty Thương Mại Sài Gòn chịu trách nhiệm tổ chức lập dự án xây dựng Trung tâm Thương mại Bình Điền, Tổng Công ty Thương Mại Sài Gòn đã lập đề án và ra Quyết định số 68/QĐ-TCT ngày 04/3/2008 thành lập Công ty Quản lý và Kinh doanh Chợ Bình Điền với nhiệm vụ là tổ chức quản lý điều hành, khai thác mọi hoạt động của TTTM Bình Điền và tổ chức kinh doanh một số mặt hàng có thế mạnh của Chợ.
				.row
					.col-12.col-sm-6
						a.about-img(href="img/about/img1.jpg" data-fancybox="album1")
							img(src="img/about/img1.jpg", alt="")
					.col-12.col-sm-6
						a.about-img(href="img/about/img2.jpg" data-fancybox="album1")
							img(src="img/about/img2.jpg", alt="")
			.col-12.col-lg-6
				a.about-img.big(href="img/about/img3.jpg" data-fancybox="album1")
					img(src="img/about/img3.jpg", alt="")
section.about-section2
	.container
		.row
			.col-12.col-lg-6
				h2.about-title Vị trí địa lý
				.content
					p Trung tâm Thương mại Bình Điền được tìm chọn và xây dựng trên vùng đất trũng, sản xuất nông nghiệp do Tổng Công ty Thương Mại Sài Gòn làm chủ đầu tư, có diện tích 65 ha, được khởi công xây dựng từ tháng 03/2003, tại vị trí chiến lược cả về giao thông đường bộ lẫn đường thủy. 
						br
						|Về đường bộ, Chợ Bình Điền giáp đại lộ Nguyễn Văn Linh, cách Quốc lộ 1A 750m và Trung tâm Thành phố 15km về hướng Tây Nam. 
						br
						|Về đường thủy, Chợ nằm giáp sông Bến Lức, thuận lợi cho việc vận chuyển hàng hóa bằng tàu thủy từ các Tỉnh thuộc khu vực Đồng Bằng Sông Cửu Long ra vào Chợ.

			.col-12.col-lg-6
				.about-img
					img(src="img/about/map.jpg", alt="")
section.about-section3
	.about-market
		img(src="img/about/market.jpg", alt="")
section.about-section4
	.container
		h2.about-title Tiến độ đầu tư
		.row
			.col-12.col-lg-6
				.content
					p Quy mô dự án là 65 hecta bao gồm các khu vực chức năng và các nhà lồng Chợ. Theo kế hoạch ban đầu có 06 nhà lồng chợ, mỗi nhà lồng có diện tích 20.000m2, kinh doanh đa ngành hàng: Thủy hải sản (tươi, khô); thịt các loại; trái cây; rau củ; gạo; hoa tươi.
						br
						|Tiến độ đến nay: Chợ đầu mối NSTP Bình Điền chính thức đi vào hoạt động vào ngày 23/3/2006. Mới đầu, Chợ mới triển khai hoạt động kinh doanh hai ngành hàng là thủy hải sản và rau củ quả. Đến nay, Chợ đã tiếp nhận và bố trí kinh doanh toàn bộ trên 1.400 thương nhân từ các Chợ bán buôn trong nội thành và đã đi vào hoạt động khá ổn định, nề nếp. Các thương nhân được bố trí kinh doanh trong 07 nhà lồng:  
					p Nhà lồng A: Ngành hàng Hoa Tươi
						br
						|Nhà lồng B: Ngành hàng rau – củ – quả, nấm, gia vị
						br
						|Nhà lồng D: Ngành hàng Cá đồng và Hải sản Cao cấp
						br
						|Nhà lồng F: Ngành hàng thuỷ sản (cá biển)
						br
						|Nhà lồng H: Thịt súc sản Gia cầm, Nông sản (Gạo, đưởng, đậu) và Cá hấp.
						br
						|Nhà lồng K: Thuỷ sản khô và các loại mắm.
						br
						|Nhà lồng T: Ngành hàng Trái cây.
					p Tiến độ đầu tư đến nay cơ bản đã hoàn tất đầu tư giai đoạn 1 và giai đoạn 2A trên diện tích 34 ha (trong tổng số 65 ha) và đang tiếp tục các bước chuẩn bị để đầu tư giai đoạn 2B trên phần diện tích còn lại. Ngoài ra, Công ty Chợ cũng đã tổ chức nhiều loại hình dịch vụ tiện ích để đảm bảo cho Chợ hoạt động tốt như: Tổng đài điện thoại, các Ngân hàng thương mại, Nhà máy nước đá, Cây xăng, Kho lạnh, Kho bao bì, Dịch vụ bốc xếp, Dịch vụ giữ xe hai bánh, Ăn uống, Nhà vệ sinh công cộng, bãi lưu đậu xe tải, Khu bến thủy nội địa,...công tác thu gom, quét dọn và khử mùi luôn được quan tâm, chú trọng.
			.col-12.col-lg-6
				.album-list
					.row
						.col-12
							a.album-img(href="img/about/pic1.jpg" data-fancybox="album")
								img(src="img/about/pic1.jpg", alt="")
						.col-4
							a.album-img(href="img/about/pic2.jpg" data-fancybox="album")
								img(src="img/about/pic2.jpg", alt="")
						.col-4
							a.album-img(href="img/about/pic3.jpg" data-fancybox="album")
								img(src="img/about/pic3.jpg", alt="")
						.col-4
							a.album-img(href="img/about/pic4.jpg" data-fancybox="album")
								img(src="img/about/pic4.jpg", alt="")
						.col-12.col-md-8
							a.album-img(href="img/about/pic5.jpg" data-fancybox="album")
								img(src="img/about/pic5.jpg", alt="")
						.col-12.col-md-4
							.row
								.col-6.col-md-12
									a.album-img(href="img/about/pic6.jpg" data-fancybox="album")
										img(src="img/about/pic6.jpg", alt="")
								.col-6.col-md-12
									a.album-img(href="img/about/pic7.jpg" data-fancybox="album")
										img(src="img/about/pic7.jpg", alt="")