section.home-about
	.container-fluid
		.about-wrap.clearfix
			.about-intro
				.about-title Giới thiệu
				.content
					h4
						strong.text-blue Chợ đầu mối nông sản thực phẩm Bình Điền
					p Chợ đầu mối NSTP Bình Điền là nơi cung cấp các mặt hàng nông sản thực phẩm nhiều nhất Thành phố Hồ Chí Minh. Hiện nay khối lượng hàng hóa nông sản thực phẩm lưu thông qua Chợ bình quân khoảng 2.500 tấn/ngày đêm. Doanh thu của Chợ bình quân khoảng 100 - 115 tỷ đồng một ngày đêm.
				.btn-wrap
					a.btn-viewmore(href="#!") Xem thêm
			.about-video
				img(src="img/about/v1.jpg", alt="")
				a.btn-play(href="#!" data-fancybox="video")
section.home-news
	.container-fluid
		h2.home-title.text-center Tin tức - Sự kiện
		.nav-wrap
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item
					a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Tin hoạt động
				li.nav-item
					a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Tin thị trường
				li.nav-item
					a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Quy định chung
		#myTabContent.tab-content
			#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') ...
				.news-list.news-slick
					.item
						.news-col
							figure
								.news-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 22
										.month T04, 2018
									h3.news-name Kết quả kiểm tra chất lượng nước thành phẩm tháng 07/2017
					.item
						.news-col
							figure
								.news-img
									img(src="img/news/2.jpg", alt="")
								figcaption
									time
										.date 22
										.month T04, 2018
									h3.news-name Kết quả kiểm tra chất lượng nước thành phẩm tháng 07/2017
					.item
						.news-col
							figure
								.news-img
									img(src="img/news/3.jpg", alt="")
								figcaption
									time
										.date 22
										.month T04, 2018
									h3.news-name Kết quả kiểm tra chất lượng nước thành phẩm tháng 07/2017
					.item
						.news-col
							figure
								.news-img
									img(src="img/news/4.jpg", alt="")
								figcaption
									time
										.date 22
										.month T04, 2018
									h3.news-name Kết quả kiểm tra chất lượng nước thành phẩm tháng 07/2017
					.item
						.news-col
							figure
								.news-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 22
										.month T04, 2018
									h3.news-name Kết quả kiểm tra chất lượng nước thành phẩm tháng 07/2017
				.btn-wrap.text-center
					a.btn-viewmore(href="#!") Xem thêm
			#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
			#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
section.home-about.s2
	.container-fluid
		.about-wrap.clearfix
			.about-intro
				.about-title Lĩnh vực
				.content
					h4
						strong.text-blue Một số lĩnh vực hoạt động của Chợ Bình Điền
					p Công ty chợ Bình Điền tự hào là nhà cung cấp thực phẩm sơ chế hàng đầu tại Thành phố Hồ Chí Minh. Công ty liên tục đầu tư xây dựng hệ thống nhà xưởng với thiết bị đạt chuẩn phục vụ hoạt động kinh doanh các mặt hàng tươi sống từ Chợ Đầu mối Nông sản thực phẩm Bình Điền.
					//-  Các mặt hàng thịt gia cầm - súc sản, thủy sản, trái cây, rau củ quả,... đảm bảo nguồn gốc, chất lượng vệ sinh an toàn thực phẩm, được sơ chế, đóng gói, gắn nhãn mác đúng quy chuẩn. Các sản phẩm này sẽ cung cấp cho hệ thống nhà hàng, khách sạn, trường học, bếp công nghiệp trên địa bàn thành phố và các tỉnh lân cận. Bao gồm:
					.row
						.col-12.col-md-4
							figure
								img(src="img/about/i1.png", alt="")
								figcaption Cung cấp thực phẩm cơ chế
						.col-12.col-md-4
							figure
								img(src="img/about/i2.png", alt="")
								figcaption Cung cấp mặt hàng nông sản nhập khẩu
						.col-12.col-md-4
							figure
								img(src="img/about/i3.png", alt="")
								figcaption Dịch vụ cho thuê mặt bằng quảng cáo
				.btn-wrap
					a.btn-viewmore(href="#!") Xem thêm
			.about-img
				img(src="img/about/h1.jpg", alt="")
section.home-qc
	.container-fluid
		h2.home-title.text-center Quảng cáo
		.qc-list
			.row
				.col-12.col-lg-6
					.row
						.col-12.col-md-6
							a.qc-img(href="#!")
								img(src="img/banner/qc1.jpg", alt="")
						.col-12.col-md-6
							a.qc-img(href="#!")
								img(src="img/banner/qc2.jpg", alt="")
						.col-12
							.qc-slide
								.item
									a.qc-img(href="#!")
										img(src="img/banner/qc3.jpg", alt="")
								.item
									a.qc-img(href="#!")
										img(src="img/banner/qc3.jpg", alt="")
								.item
									a.qc-img(href="#!")
										img(src="img/banner/qc3.jpg", alt="")
				.col-12.col-lg-6
					.row
						.col-12.col-md-6
							a.qc-img(href="#!")
								img(src="img/banner/qc4.jpg", alt="")
						.col-12.col-md-6
							a.qc-img(href="#!")
								img(src="img/banner/qc5.jpg", alt="")
section.home-partner
	.container-fluid
		h2.home-title.text-center Đối tác - Khách hàng
		.partner-list.partner-slick
			.item
				.row
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/2.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/3.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/4.png", alt="")
			.item
				.row
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/5.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/6.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/7.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/8.png", alt="")
			.item
				.row
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/9.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/10.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/11.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/12.png", alt="")
			.item
				.row
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/1.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/2.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/3.png", alt="")
					.col-6
						a.partner-logo(href="#!")
							img(src="img/partner/4.png", alt="")