section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Lĩnh vực hoạt động
section.service-section
	.container
		h1.page-title.text-center Lĩnh vực hoạt động
		.service-content
			.content
				p Với lợi thế là đơn vị quản lý Chợ đầu mối nông sản thực phẩm Bình Điền - Chợ đầu mối đa ngành hàng có quy mô lớn nhất trên cả nước, Công ty chợ Bình Điền tự hào là nhà cung cấp thực phẩm sơ chế hàng đầu tại Thành phố Hồ Chí Minh. Công ty liên tục đầu tư xây dựng hệ thống nhà xưởng với thiết bị đạt chuẩn phục vụ hoạt động kinh doanh các mặt hàng tươi sống từ Chợ Đầu mối Nông sản thực phẩm Bình Điền. Các mặt hàng thịt gia cầm - súc sản, thủy sản, trái cây, rau củ quả,... đảm bảo nguồn gốc, chất lượng vệ sinh an toàn thực phẩm, được sơ chế, đóng gói, gắn nhãn mác đúng quy chuẩn. Các sản phẩm này sẽ cung cấp cho hệ thống nhà hàng, khách sạn, trường học, bếp công nghiệp trên địa bàn thành phố và các tỉnh lân cận. 
				.row
					.col-12.col-lg-6.col-xl-4
						ul
							li Thủy hải sản
							li Thịt Gia súc, gia cầm, trứng
							li Rau củ quả 
							li Trái cây ....
							li Cung cấp sỉ các mặt hàng nông sản nhập khẩu:
							li Rau củ quả 
							li Trái cây ....
							li Kinh doanh các dịch vụ quảng cáo: cho thuê mặt bằng tồ chức event, sampling, banner,..

					.col-12.col-lg-6.col-xl-8
						.service-img
							img(src="img/service/img1.jpg", alt="")
section.service-section.s2
	.section-bg(style="background: url(img/service/bg.jpg) center center no-repeat;background-size: cover")
	.container
		.service-content
			h2.page-title.text-center Sơ đồ quy hoạch
			.page-des.text-center Sơ đồ qui hoạch tổng thể bố trí kinh doanh tại Trung tâm Thương mại Bình Điền:
			.service-img
				img(src="img/service/img2.jpg", alt="")
section.service-section.s3
	.container
		.service-list
			.row
				.col-12.col-lg-8
					.row
						.col-12.col-md-6
							.service-col
								.service-title Lĩnh vực
									br
									|hoạt động
						.col-12.col-md-6
							a.service-col(href="#!")
								figure
									.service-img(style="background: url(img/service/1.jpg) center center no-repeat;background-size: cover")
										//- img(src="img/service/1.jpg", alt="")
									figcaption
										.service-name Cung cấp thực phẩm sơ chế
						.col-12
							a.service-col.big(href="#!")
								figure
									.service-img(style="background: url(img/service/2.jpg) center center no-repeat;background-size: cover")
										//- img(src="img/service/1.jpg", alt="")
									figcaption
										.service-name Cho thuê mặt bằng
				.col-12.col-lg-4
					.row
						.col-12.col-md-6.col-lg-12
							a.service-col.high(href="#!")
								figure
									.service-img(style="background: url(img/service/3.jpg) center center no-repeat;background-size: cover")
										//- img(src="img/service/1.jpg", alt="")
									figcaption
										.service-name Kinh doanh nông sản nhập khẩu
						.col-12.col-md-6.col-lg-12
							a.service-col(href="#!")
								figure
									.service-img(style="background: url(img/service/4.jpg) center center no-repeat;background-size: cover")
										//- img(src="img/service/1.jpg", alt="")
									figcaption
										.service-name Cho thuê vị trí quảng cáo