section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Liên hệ
section.contact-page
	.container
		h1.page-title.text-center Chợ đầu mối nông sản thực phẩm Bình Điền
		.contact-wrap
			.contact-info
				.title Chợ đầu mối nông sản thực phẩm bình điền
				.info
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>Đại lộ Nguyễn Văn Linh, Khu phố 6, phường 7, quận 8, Tp.Hồ Chí Minh
							a.btn-viewmap(href="#!") View map
					.row
						.col-12.col-md-6
							ul
								li <i class="fa fa-phone" aria-hidden="true"></i>84.028.3759.0001 - 3759.0002
								li <i class="fa fa-envelope" aria-hidden="true"></i>info@binhdienmarket.vn
						.col-12.col-md-6
							ul
								li <i class="fa fa-fax" aria-hidden="true"></i>84.028.3759.0003
								li <i class="fa fa-globe" aria-hidden="true"></i>binhdienmarket.com.vn
				.title Chi nhánh 1
				.info
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>Đại lộ Nguyễn Văn Linh, Khu phố 6, phường 7, quận 8, Tp.Hồ Chí Minh
							a.btn-viewmap(href="#!") View map
					.row
						.col-12.col-md-6
							ul
								li <i class="fa fa-phone" aria-hidden="true"></i>84.028.3759.0001 - 3759.0002
								li <i class="fa fa-envelope" aria-hidden="true"></i>info@binhdienmarket.vn
						.col-12.col-md-6
							ul
								li <i class="fa fa-fax" aria-hidden="true"></i>84.028.3759.0003
								li <i class="fa fa-globe" aria-hidden="true"></i>binhdienmarket.com.vn
				.title Chi nhánh 2
				.info
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>Đại lộ Nguyễn Văn Linh, Khu phố 6, phường 7, quận 8, Tp.Hồ Chí Minh
							a.btn-viewmap(href="#!") View map
					.row
						.col-12.col-md-6
							ul
								li <i class="fa fa-phone" aria-hidden="true"></i>84.028.3759.0001 - 3759.0002
								li <i class="fa fa-envelope" aria-hidden="true"></i>info@binhdienmarket.vn
						.col-12.col-md-6
							ul
								li <i class="fa fa-fax" aria-hidden="true"></i>84.028.3759.0003
								li <i class="fa fa-globe" aria-hidden="true"></i>binhdienmarket.com.vn
			.contact-form
				.module-title Liên hệ với chúng tôi
				.form-wrap
					.form-group
						input(type="text" placeholder="Họ tên")
					.form-group
						input(type="email" placeholder="Email")
					.form-group
						input(type="text" placeholder="Số điện thoại")
					.form-group
						input(type="text" placeholder="Tiêu đề")
					.form-group
						textarea(name="", cols="30", rows="4", placeholder="Nội dung")
					.frm-btn
						input(type="submit", value="Gửi")