section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Lĩnh vực hoạt động
section.service-section
	.container
		h1.page-title.text-center Tổng quan
		.service-content
			.content
				p Với lợi thế là đơn vị quản lý Chợ đầu mối nông sản thực phẩm Bình Điền - Chợ đầu mối đa ngành hàng có quy mô lớn nhất trên cả nước, Công ty chợ Bình Điền tự hào là nhà cung cấp thực phẩm sơ chế hàng đầu tại Thành phố Hồ Chí Minh. Công ty liên tục đầu tư xây dựng hệ thống nhà xưởng với thiết bị đạt chuẩn phục vụ hoạt động kinh doanh các mặt hàng tươi sống từ Chợ Đầu mối Nông sản thực phẩm Bình Điền. Các mặt hàng thịt gia cầm - súc sản, thủy sản, trái cây, rau củ quả,... đảm bảo nguồn gốc, chất lượng vệ sinh an toàn thực phẩm, được sơ chế, đóng gói, gắn nhãn mác đúng quy chuẩn. Các sản phẩm này sẽ cung cấp cho hệ thống nhà hàng, khách sạn, trường học, bếp công nghiệp trên địa bàn thành phố và các tỉnh lân cận. 
				.row
					.col-12.col-lg-6
						p Với lợi thế là đơn vị quản lý Chợ đầu mối nông sản thực phẩm Bình Điền - Chợ đầu mối đa ngành hàng có quy mô lớn nhất trên cả nước, Công ty chợ Bình Điền tự hào là nhà cung cấp thực phẩm sơ chế hàng đầu tại Thành phố Hồ Chí Minh. Công ty liên tục đầu tư xây dựng hệ thống nhà xưởng với thiết bị đạt chuẩn phục vụ hoạt động kinh doanh các mặt hàng tươi sống từ Chợ Đầu mối Nông sản thực phẩm Bình Điền. 
					.col-12.col-lg-6
						p Với lợi thế là đơn vị quản lý Chợ đầu mối nông sản thực phẩm Bình Điền - Chợ đầu mối đa ngành hàng có quy mô lớn nhất trên cả nước, Công ty chợ Bình Điền tự hào là nhà cung cấp thực phẩm sơ chế hàng đầu tại Thành phố Hồ Chí Minh. Công ty liên tục đầu tư xây dựng hệ thống nhà xưởng với thiết bị đạt chuẩn phục vụ hoạt động kinh doanh các mặt hàng tươi sống từ Chợ Đầu mối Nông sản thực phẩm Bình Điền.
		
		h2.page-title.text-center Các nhà lồng
		.service-category
			.row
				.col-12.col-lg-8
					.row
						.col-12.col-md-6
							a.cate-item(href="#!" style="background: url(img/service/c1.jpg) center center no-repeat;background-size: cover")
								.alphabet A
								.cate-name Ngành hàng hoa tươi
						.col-12.col-md-6
							a.cate-item(href="#!" style="background: url(img/service/c2.jpg) center center no-repeat;background-size: cover")
								.alphabet A
								.cate-name Ngành hàng hoa tươi
						.col-12
							a.cate-item.big(href="#!" style="background: url(img/service/c3.jpg) center center no-repeat;background-size: cover")
								.alphabet A
								.cate-name Ngành hàng hoa tươi
				.col-12.col-lg-4
					.row
						.col-12.col-md-6.col-lg-12
							a.cate-item.high(href="#!" style="background: url(img/service/c4.jpg) center center no-repeat;background-size: cover")
								.alphabet A
								.cate-name Ngành hàng hoa tươi
						.col-12.col-md-6.col-lg-12
							a.cate-item(href="#!" style="background: url(img/service/c5.jpg) center center no-repeat;background-size: cover")
								.alphabet A
								.cate-name Ngành hàng hoa tươi
				.col-12.col-lg-4
					a.cate-item.high(href="#!" style="background: url(img/service/c6.jpg) center center no-repeat;background-size: cover")
						.alphabet A
						.cate-name Ngành hàng hoa tươi
				.col-12.col-lg-8
					a.cate-item.high(href="#!" style="background: url(img/service/c7.jpg) center center no-repeat;background-size: cover")
						.alphabet A
						.cate-name Ngành hàng hoa tươi