section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tuyển dụng
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.career-page
				h1.job-title Nhân viên thiết kế nội thất 3D
				.career-detail
					time 28/12/2018
				.content
					h5
						strong.text-blue Thông tin tuyển dụng
					ul
						li Vị trí tuyển dụng: Nhân viên thiết kế 3D nội thất
						li Chức vụ: Nhân viên
						li Yêu cầu giới tính: Nam
						li Địa điểm làm việc: Thành phố Hồ Chí Minh
						li Yêu cầu độ tuổi: Không yêu cầu
						li Mức lương: thương lượng
						li Bằng cấp tối thiểu: Trung cấp
						li Số lượng cần tuyển: 3
						li Hình thức làm việc: Toàn thời gian cố định
						li Kinh nghiệm tối thiểu: 1 năm
					h5
						strong.text-blue Mô tả công việc
					ul
						li Triển khai kỹ thuật nội thất
						li Triển khai kiến trúc các công trình 
						li Thiết kế chung cư, biệt thự, nhà mặt phố
						li Thiết kế văn phòng, nhà hàng, khách sạn...
						li Thiết kế nội thất trong lĩnh vực nhà ở, văn phòng: biệt thự, chung cư, khách sạn...
					h5
						strong.text-blue Yêu cầu công việc
					ul
						li Bằng cấp: Cao Đẳng trở lên
						li Độ tuổi: Không giới hạn tuổi
						li Hình thức: Nhân viên chính thức
						li Thành thạo phần mềm thiết kế chuyên ngành: Auto Cad, 3D Max, Photoshop, Revit…
						li Đã có kinh nghiệm trên 2 năm trong lĩnh vực thiết kế, thi công nội thất, F& B
						li Có ý tưởng tốt
					h5
						strong.text-blue Quyền lợi được hưởng
					ul
						li Lương, thưởng hấp dẫn, các khoản phụ cấp
						li Du lịch, nghỉ mát theo quy định của công ty.
						li Thưởng lễ, sinh nhật...
						li Có nhiều cơ hội phát triển và thăng tiến.
						li Các chế độ bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo quy định của công ty và pháp luật quy định
						li Tuần làm việc 5.5 ngày từ thứ 2 đến sáng thứ 7
					h5
						strong.text-blue Hồ sơ gồm có
					ul
						li Chứng minh nhân dân (bản photo)
						li Sổ hộ khẩu (bản photo)
						li Đơn xin việc
						li Sơ yếu lý lịch
						li Bằng cấp (nếu có)
					p 
						strong Hạn nộp hồ sơ: 
						strong.text-red 31/12/2017
						br
						|Ngày đăng tuyển: 
						| 11/10/2018
						br
						|Hình thức nộp hồ sơ: 
						| Mọi hình thức
					h5
						strong.text-blue Thông tin liên hệ
					p Người liên hệ: Phòng Nhân Sự
						br
						|Địa chỉ: 162 Lê Đức Thọ, Phường 6, Quận Gò Vấp, TP.HCM
						br
						|Email: tuyendung@dfcompany.vn
						br
						|Điện thoại: 08 3750 7869
				a.btn-download(href="#!") Tải mẫu đơn xin việc
				a.btn-apply(href="#!") Ứng tuyển ngay
		.col-12.col-lg-4.col-xl-3
			.other-job
				.small-title Tin tuyển dụng khác
				.job-list
					.job
						time 28/12/2018
						a.job-name Tuyển dụng kiến trúc sư nội thất
					.job
						time 28/12/2018
						a.job-name Tuyển dụng kiến trúc sư nội thất
					.job
						time 28/12/2018
						a.job-name Tuyển dụng kiến trúc sư nội thất
					.job
						time 28/12/2018
						a.job-name Tuyển dụng kiến trúc sư nội thất
					.job
						time 28/12/2018
						a.job-name Tuyển dụng kiến trúc sư nội thất