section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tin tức
				li
					a(href="#!")
						span Tin thị trường
nav.top-nav
	.container
		ul
			li
				a(href="#!") Tin hoạt động
			li.active
				a(href="#!") Tin thị trường
			li
				a(href="#!") Quy định chung
section.news-page
	.container
		h1.page-title.text-center Tin thị trường
		.news-list
			.row
				.col-12.col-lg-6
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/n1.jpg", alt="")
							figcaption
								time 28/12/2017
								h3.news-name
									a(href="#!") Nhộn nhịp giao dịch nhà đất tại các tỉnh vùng ven thành phố Hồ Chí Minh
								.news-des Xu hướng tăng giá quá nhanh của cả thị trường đất nền và căn hộ Tp.HCM đang khiến nhiều nhà đầu tư tài chính hạn chế đổ về các tỉnh lân cận như Bình Dương, Đồng Nai, Vũng Tàu… tìm kiếm cơ hội. Chính hạn chế đổ về các tỉnh lân cận như Bình Dương, Đồng Nai, Vũng Tàu… tìm kiếm cơ hội.
				.col-12.col-lg-6
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/n2.jpg", alt="")
									figcaption
										time 28/12/2017
										h3.news-name
											a(href="#!") Đồng Nai sẽ trở thành trung tâm Logistics vùng
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/n3.jpg", alt="")
									figcaption
										time 28/12/2017
										h3.news-name
											a(href="#!") Đẩy nhanh tiến độ giải phóng mặt bằng sân bay Long Thành
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/n4.jpg", alt="")
									figcaption
										time 28/12/2017
										h3.news-name
											a(href="#!") Sẽ có đường kết nối từ Tp HCM đi Bình Dương thay QL 13
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/n5.jpg", alt="")
									figcaption
										time 28/12/2017
										h3.news-name
											a(href="#!") Bình Dương: đồng vốn chảy mạnh vào thị trường đất nền Bến Cát
				.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/n6.jpg", alt="")
							figcaption
								time 28/12/2017
								h3.news-name
									a(href="#!") Đồng Nai sẽ trở thành trung tâm Logistics vùng
								.news-des Ngày 1-8, tại tỉnh An Giang đã diễn ra Hội nghị giao thương giữa doanh nghiệp (DN) An Giang và TPHCM. Ông Vương Bình Thạnh, Chủ tịch UBND tỉnh An Giang
				.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/n7.jpg", alt="")
							figcaption
								time 28/12/2017
								h3.news-name
									a(href="#!") Đẩy nhanh tiến độ giải phóng mặt bằng sân bay Long Thành
								.news-des Ngày 1-8, tại tỉnh An Giang đã diễn ra Hội nghị giao thương giữa doanh nghiệp (DN) An Giang và TPHCM. Ông Vương Bình Thạnh, Chủ tịch UBND tỉnh An Giang
				.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/n8.jpg", alt="")
							figcaption
								time 28/12/2017
								h3.news-name
									a(href="#!") Sẽ có đường kết nối từ Tp HCM đi Bình Dương thay QL 13
								.news-des Ngày 1-8, tại tỉnh An Giang đã diễn ra Hội nghị giao thương giữa doanh nghiệp (DN) An Giang và TPHCM. Ông Vương Bình Thạnh, Chủ tịch UBND tỉnh An Giang
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4