section.breadcrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tuyển dụng
section.career-page
	.container
		h1.page-title.text-center Thông tin tuyển dụng
		.career-table
			table
				thead
					tr
						th Vị trí
						th Số lượng
						th Địa điểm
						th Hạn nộp hồ sơ
				tbody
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4